<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    引用和被引用的组件,必须都是在ioc容器中-->

    <!--    1:单个构造参数注入-->
    <!--    1.1:将他们都放在ioc容器中-->
    <bean id="userDao" class="org.zzf.ioc_02.UserDao"/>
    <bean id="userService" class="org.zzf.ioc_02.UserService">
        <!--        构造参数传值的配置
                        value:直接属性传值.如:String name = "张三"
                        ref:引用其他的bean,
        -->
        <constructor-arg ref="userDao"/>
    </bean>

    <!--    2:多个构造参数注入-->
    <bean id="userService1" class="org.zzf.ioc_02.UserService">
        <!--    2.1:构造参数顺序填写-->
        <constructor-arg value="18"/>
        <constructor-arg value="张三"/>
        <constructor-arg ref="userDao"/>
    </bean>

    <bean id="userService2" class="org.zzf.ioc_02.UserService">
        <!--    2.2根据构造函数的参数名填写,不用考虑顺序-->
        <constructor-arg name="name" value="张三"/>
        <constructor-arg name="age" value="18"/>
        <constructor-arg ref="userDao"/>
    </bean>

    <bean id="userService3" class="org.zzf.ioc_02.UserService">
        <!--    2.3:按照参数的下角标指定填写,不用考虑顺序,index-->
        <constructor-arg index="1" value="张三"/>
        <constructor-arg index="0" value="18"/>
        <constructor-arg index="2" ref="userDao"/>
    </bean>

<!--    3:触发set方法进行注入-->
    <bean id="movieFinder" class="org.zzf.ioc_02.MovieFinder"/>
    <bean id="simpleMovieLister" class="org.zzf.ioc_02.SimpleMovieLister">
        <property name="movieName" value="消失的她"/>
        <property name="movieFinder" value="movieFinder"/>
    </bean>
</beans>